* {
  box-sizing: border-box;
}

* { outline: 1px dashed fade(#f00, 10%); }

@normal: 30px;
@maxwidth: 800px;
@color-gray: #555;
@color-dark: #222;

body {
  display: inline-block;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: @color-gray;
  font-size: 18px;
}

h1,h2,h3,h4,h5,h6,em {
  color: @color-dark;
  font-family: 'Ubuntu Mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: @normal;
}

h1, h2 {
  margin-top: @normal * 2.5;
}

h3 {
  margin-top: @normal * 1.5;
}

p, ul, li {
  line-height: 1.4;
}

p {
  margin-bottom: @normal;
}

ul {
  
}

blockquote {
  font-family: 'Ubuntu Mono', monospace;
  border-left: 1px solid @color-gray;
  margin: 0;
  padding: 0 @normal;
}

.content {
  margin: 4 * @normal auto;
  max-width: @maxwidth;
}

@media (max-width: @maxwidth) {
  .content {
    margin-left: @normal;
    margin-right: @normal;
  }
}

table {
  width: 100%;
}

